.leftside_main{
    width: 200px;
    height: 100vh;
    border-right: 1px solid black;
    margin: 40px;
}
.brandname{
    display: block;
    width: 100px;
}

.brand_header{
    font-weight: bold;
    margin: 10px;
}
.brand_names{
    
}